
<footer class="pt-2 pb-3" id="footer">
    <div class="container">
        <div class="d-flex justify-content-center border-bottom pb-2">
            <ul class="nav justify-content-center">
              
                <li class="nav-item">
                    <p id="designText" style="color: white; font-family:'Agency FB'">
                       Designed by Charley Turner 
                    </p>
                </li>

                <li class="nav-item">
                    <a style="font-size:1em;" href="https://github.com/headshotsct">
                    <i  class="fab fa-github"></i>
                    </a>
                </li>



                <li class="nav-item">
                    <a style="font-size:1em;" href="https://www.linkedin.com/in/charley-turner-3208aa53/">

                        <i class="fab fa-linkedin-in"></i>
                    </a>


                </li>
            </ul>

        </div>


        
    </div>
</footer>


<style>



    .nav-item {
        color: white;
        font-size: 1.5em;
        margin-left: 25px;
    }

        .nav-item:hover {
            border-bottom: 2px white solid;
            color: seagreen;
            transition: all 1s ease-in-out;
        }

    #footer {
        position: fixed;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: black;
        z-index: 100;
    }
</style>

@*<div class="d-flex justify-content-center text-center" style="margin: 80px; background-color: black; width: 100%; z-index:100; height: 10vh; min-height:10px; max-height:500px; position: fixed; bottom: 0; ">
        <p style="color: white; font-family:'Agency FB'; text-align:center;" class="text-center">
            Designed by 
            <span>
                <a href="https://github.com/headshotsct">Charley Turner</a>
            </span>
        </p>

    </div>*@